<h2>
  <button type="button" class="btn btn-link" [routerLink]="['/bible']"><i class="fas fa-arrow-left"></i></button>
  Data Sources
</h2>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <div class="btn-group" dropdown>
    <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
            aria-controls="dropdown-basic">
      Create<span class="caret"></span>
    </button>
    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
        role="menu" aria-labelledby="button-basic">
      <li role="menuitem"><a class="dropdown-item" href="#">OneNote</a></li>
      <li role="menuitem"><a class="dropdown-item" href="#">Folder</a></li>
      <li role="menuitem"><a class="dropdown-item" href="#">OneNote Cloud</a></li>
      <li role="menuitem"><a class="dropdown-item" href="#">OneDrive folder</a></li>
    </ul>
  </div>
</div>
<p *ngIf="!providersState"><em>Loading...</em></p>
<table class='table table-striped' *ngIf="providersState">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Type</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of providersState.items">
      <td> <a class="btn btn-link" [routerLink]="getEditPageLink(p)">{{ p.name }} </a></td>
      <td>{{ p.description }}</td>
      <td>{{ getProviderType(p.type) }}</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
