
@{
    ViewBag.Title = "Canvas";
    Layout = "~/Views/Shared/_Layout.cshtml";   
}

<h2>Canvas</h2>

<div id="ribbonObj"></div>

<div id="result">
    Lorem ipsum — dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.[1] Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</div>
<br/>
<style>
    #result .ui-selecting {
        background-color: #00ffff;

    }

    #result .ui-selected {
         border-bottom: 1px solid;
         border-top: 1px solid;
        border-color:red;
     background-color: #00ffff;
    }
</style>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            (new WordSelector()).SelectArea('result');
            var selected = [];
            var $currentlySelected = null;
            var myRibbon = new Word.RibbonBehaviour('@Url.Action("Get","Ribbon")','ribbonObj');
            myRibbon.Init();
            $('#result').selectable({               
                selecting: function (event, ui) {
                    selected.push(ui.selected);
                }
            });
           
        });

        

        var data = {
            parent: "ribbonObj",
            icons_path: "/imgs/",
            items: [
				{
				    type: 'block', text: 'Tags', mode: 'cols', list: [
						{ id: "author", type: "buttonSegment", text: "Pointer", isbig: true, img: "cursor.png" },
                        { id: "author", type: "buttonSegment", text: "Author", img: "author.png" },
						{ id: "receivers", type: "buttonSegment", text: "Receivers", img: "receivers.png" },
				    ]
				}
            ]
        };
    </script>
}